@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Global Styles */
:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.training-item {
  border: 1px solid black;
}

.text-blue {
  color: #3dadf2;
}

.btn-primary {
  background-color: #3dadf2 !important;
  border-color: #3dadf2;
}

.form-register {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.hello {
  color: rgba(255, 255, 255, 0.5) !important;
  text-decoration: none !important;
  cursor: default !important;
  border: none !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 1rem;
  margin-bottom: 0;
}

.hello:hover {
  text-decoration: none !important;
  color: #fff !important;
  background-color: #343a40 !important;
}

.logout:hover {
  cursor: pointer !important;
}

.admin-header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
  flex-wrap: nowrap;
}

[class^="item-admin-header-"] {
  background: transparent;
  border-radius: 15px;
  color: #343a41 !important;
  transition: opacity 0.5s;
}

[class^="item-admin-header-"]:hover {
  opacity: 0.5;
  cursor: pointer;
  text-decoration: none;
}

.react-datepicker-wrapper {
  display: block !important;
}

.remove-reservation-td i {
  color: #ec0101;
  cursor: pointer;
}

.admin-buttons i {
  color: #333;
}

#root {
  background: #ecf0f1;
  min-height: 100vh;
}

.link-training {
  color: #333 !important;
}

.link-training:hover {
  text-decoration: none !important;
  opacity: 0.6;
}

.link-training .progress {
  height: 0.3rem;
}

.navbar .fa-dumbbell,
.navbar .fa-arrow-left {
  color: #fff;
}

.add-training {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-training i {
  color: #fff;
}

.btn-circle {
  width: 48px;
  height: 48px;
  padding: 6px 0px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
